# Terraform state
.terraform/
.terraform.lock.hcl
backend.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Local Terraform overrides
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive variable files
terraform.tfvars
terraform.tfvars.json
*.tfvars
*.tfvars.json

# IDE files
.DS_Store
